<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @food_item.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food_item.price %>
</p>

<div class="manager">
  <p>
    <strong>Category:</strong>
    <%= link_to @food_item.category.name, @food_item.category %>
  </p>
  <%= link_to 'Edit', edit_food_item_path(@food_item) %> |
  <%= link_to 'Back', food_items_path %>
</div>
