<% provide(:title, "Menu") %>

<p id="notice"><%= notice %></p>



<h1>Menu</h1>


<table>

  <thead>

    <tr>

      <th>Manage Categories<th></t>

      <th colspan="3"></th>

    </tr>

    <tr>

      <th><%= link_to 'New Category', new_category_path, class: "btn btn-sm btn-primary"  %><th>

    </tr>

    <tr>

      <th><%= link_to 'New Item', new_food_item_path, class: "btn btn-sm btn-primary"  %><th>

    </tr>

  </thead>

<table class = "table tabel-striped">
  <thead class = "thead thead-default">
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Amount of Items</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.id %></td>
        <td><%= category.food_items.size %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Go to Foods Page", go_to_food_items_path, class: "btn btn btn-primary" %>
<br>
<br>
<%= link_to "Return to Menu", menu_path, class: "btn btn btn-primary" %>

