<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<div class="button-container">
  <div class="row">
    <% @categories.each do |category| %>
      <td id = '<%= category.id %>'>
        <span class = 'category-button'>
          <%= link_to category.name, selected_category_path(category, :id => category.id), remote: true, class: "btn btn-lg btn-primary" %>
        </spa>
      </td>
    <% end %>
  </div>
</div>
<br>

<section id="foods-section">
  <div id="foods">
  </div>
</section>


<div class="manager">
  <table>
    <thead>
      <tr>
        <th>Manage Categories<th></t>
        <th colspan="3"></th>
      </tr>
      <tr>
        <th><%= link_to 'New Category', new_category_path %><th>
      </tr>
      <tr>
        <th><%= link_to 'New Item', new_food_item_path %><th>
      </tr>
    </thead>
    
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td><%= link_to 'Show', category %></td>
          <td><%= link_to 'Edit', edit_category_path(category) %></td>
          <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Go to Foods Page", go_to_food_items_path, class: "btn btn-sm btn-primary" %>
</div>